.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/*==================================================================*/

/* Top nav style */

/*================*/

.top-nav{
  display: flex;
  justify-content: space-around;
}

.top-nav li:nth-child(2){
  color: #848484;
}

.top-nav-container{
  background-color: #333333;
}

.top-nav li{
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

/*==================================================================*/

/* Fixed nav style */

/*================*/

.fixed-nav{
  display: flex;
  background-color: white;
  border-bottom: 1px solid #d3d3d3;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 75%;
}

.fixed-nav div{
  flex: 1;
}

.fixed-nav div:nth-child(2){
  flex: .5;
}

.fixed-nav div:nth-child(1){
  font-size: 25px;
  padding: 0px;
  text-align: left;
}

.fixed-nav-right{
  display: flex;
  justify-content: space-between;
}

.fixed-nav-right li:nth-child(1){
  color: #848484;
}

.fixed-nav-right li:not(#btn){
  margin-top: 4px;
  margin-right: 4px;
}

.fixed-nav-right li button{
  font-size: 12px;
}

/*==================================================================*/

/* First Section style */

/*================*/

.first-section div:nth-child(1){
  margin-top:80px;
  margin-bottom:40px;
  text-align: center;
  width: 700px;
  margin-left:25%;
  margin-right:25%;
}

.first-section p:nth-child(1){
  font-size: 35px;
  font-weight: bold;
  margin-top:80px;
}

.first-section h1{
  font-size: 75px;
  font-weight: bold;
}

.first-section p:nth-child(3){
  width: 800px;
  font-size: 22px;
  margin-left:20%;
  margin-right:20%;
  margin-bottom: 60px;
  color: #838383;
}

.first-section p:nth-child(4), .first-section p:nth-child(5){
  width: 800px;
  font-size: 30px;
  margin-left:20%;
  margin-right:20%;
}

/*==================================================================*/

/* Second section style */

/*==================================*/

.second-section {
  background-color: #FAFAFA;
  text-align: left;
}

.second-section .container{
  width: 75%;
  margin-left:12.5%;
  margin-right:12.5%;
}

.second-section .container p {
  font-size: 25px;
  padding-top: 40px;
}

.second-section h1 {
  font-size: 70px;
  font-weight: bold;
}

.second-section p:nth-child(2){
  color: #838383;
  padding-bottom: 90px;
}




@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
